*{
    padding:  0;
    margin: 0;
}

.login-container{
    color: white;
    background-color: #aaaaaa;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    align-items: center;
    text-align: center;
}

.login-form {
    margin: 0;
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.login-form-header {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 2em;
}

.login-form-label {
    font-size: large;
    color:#000;
    font-weight: bold;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 10px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.form-errors {
    color: red;
    font-size: 1em
}

.sign-out-btn{
  background: none;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  color: white;
  cursor: pointer;
  border-left:1px solid #bbb;
  display: block;
  text-align: center;
  list-style-type: none;
  background-color: #333;
  font-size: 16px;
  /* padding: 14px, 16px; */
  overflow: hidden;
  height: 100%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4CAF50;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 1s 9.5s;
  animation: fadein 0.5s, fadeout 1s 9.5s;
}


/* TO Adjust later */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.student-list-item {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.student-list-row:nth-child(even) {
  background-color: #dddddd;
}

.student-select {
  height: 30px;
  width: 250px;
}