<h1>Editing student task</h1>

<%= render "form", student_task: @student_task %>

<br>

<div>
  <%= link_to "Show this student task", @student_task %> |
  <%= link_to "Back to student tasks", student_tasks_path %>
</div>
