<p style="color: green"><%= notice %></p>

<h1>Student tasks</h1>

<div id="student_tasks">
  <% @student_tasks.each do |student_task| %>
    <%= render student_task %>
    <p>
      <%= link_to "Show this student task", student_task %>
    </p>
  <% end %>
</div>

<%= link_to "New student task", new_student_task_path %>
